.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registerForm{
    display: flex;
    flex-direction: column;
    justify-self: center;
    /* align-items: center; */
    margin-top: 50px;
}
.registerForm >label {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}
.registerForm > input{
    width: 350px;
    height: 35px;
    border: none;
    border-bottom: 1px solid teal;
}
.registerSubmitBtn{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background: teal;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    color: white;
}
.login{
    margin-top: 20px;
    color: white;
}
.loginBtn{
    width: 120px;
    height: 30px;
    background: rgba(0, 128, 128, 0.552);
    border: none;
    color: white;
    border-radius: 5px;
   cursor: pointer;

}